@model List<Model.Request>
<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1 mb-5">Solicitudes</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Descripcion</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @{
                                                    string style = item.State == true ? "text-success" : "text-danger";
                                                    string stylebtn = item.State == true ? "btn-success" : "btn-danger";
                                                    string state = item.State == true ? "Aprovada" : "En Proceso";
                                                }
                                                <td>@item.ApplicationUser.UserName</td>
                                                <td>@item.Descripcion</td>
                                                <td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
                                                <td scope="row" class="@style">
                                                    <div class="dropdown">
                                                        <button class="btn @stylebtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            @state
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <form action="/request/update" method="post">
                                                                @Html.AntiForgeryToken()
                                                                @{
                                                                    state = state == "Aprovada" ? "EnProceso" : "Aprovada";
                                                                    item.State = item.State == false ? true : false;
                                                                    string stateString = item.State == false ? "false" : "true";
                                                                }
                                                                <input type="hidden" name="Id" value="@item.Id" />
                                                                <input type="hidden" name="State" value="@stateString" />
                                                                <button type="submit" class="dropdown-item">
                                                                    @state
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button id="btn-delete" onclick="remove(@item.Id,'Remove','cancelara la solicitud')" class="btn btn-danger">Cancelar</button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col mb-4">
                                    @*@{ var page = ViewBag.pagination;}

                                        @if (page == "1")
                                        {
                                            @Html.Partial("_PaginationSearchPartial", Model)
                                        }
                                        else
                                        {
                                            @Html.Partial("_PaginationPartial", Model)
                                        }*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Carga un helper de funciones en js para reutilizarlas *@
@Html.Partial("_JsFunctionPartial")

