@model Model.Debs

@{
    ViewBag.Title = "Actualizar";
}

<h2 class="text-center mt-5">Actualizar $@Model.Money</h2>

<div class="row justify-content-center">
    <div class="col-">
        @Html.AntiForgeryToken()
        <form action="/Deb/Update" id="Debs" class="form-group" method="post">
            <div class="mt-1">
                <label for="Money">Monto</label>
                <input type="text" class="form-control" placeholder="Ejemplo (99,99)" name="Money" value="@Model.Money" />
            </div>
            <div class="mt-1">
                <label for="Description">Descripcion</label>
                <textarea class="form-control" name="Description">@Model.Description</textarea>
                <input type="hidden" name="AccountId" value="@Model.AccountId" />
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
            <div class="mt-1">
                @Html.ActionLink("Volver", "Detail", "AccountClient", new { id = Model.AccountId }, new { @class = "btn btn-info" })
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Forms/Main.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

@if (ViewBag.Response == 13)
{
<script>
    swal("ha ocurrido un error!", "Revise que el campo monto no este vacio, contenga letras o puntos (99.9) o ha sobrepasado el limite de caracteres!", "error");
</script>
}
