
@model Model.ViewModels.DetailPageViewModel
<link href="~/Content/css/bootstrap-datepicker.css" rel="stylesheet" />

<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-flui mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h4>Detalle de Cuenta</h4>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-4 mb-5">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Perfil</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <img class="rounded-circle mx-auto d-block" src="~/Content/avatar/@Model.Account.Client.Avatar.ToString()" width="100" alt="Card image cap">
                                    <h5 class="text-sm-center mt-2 mb-1">@Model.Account.Client.Name @Model.Account.Client.LastName</h5>
                                    <div class="location text-sm-center">
                                        <i class="fa fa-map-marker"></i> @Model.Account.Client.PhoneNumber
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Detalles</strong>
                            </div>
                            <div class="card-body">
                                <strong class="card-title">Alias:  @Model.Account.Name</strong><br />
                                <strong class="card-subtitle mb-4 mt-3 "><i class="far fa-user"></i> Cliente: @Model.Account.Client.Name @Model.Account.Client.LastName</strong> <br />
                                <strong class="card-subtitle mb-4 mt-3 "><i class="far fa-money-bill-alt"></i> Total:  $@Model.Account.Total </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title mb-3">Acciones</strong>
                            </div>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal">
                                        Agregar Credito
                                    </button>
                                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal2">
                                        Abonar
                                    </button>
                                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal3">
                                        Saldar
                                    </button>
                                    @Html.ActionLink("Generar Constancia", "GeneratePdf", "AccountClient", new { id = Model.Account.Id }, new { @class = "btn btn-danger btn-block mt-2 " })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start" >
                    <div class="col-6">
                        <h3 class="mb-2">Deudas</h3>
                        <form action="/AccountClient/filter" method="get">
                            <input type="hidden" name="IdAccount" value="@Model.Account.Id" />
                            <div class="input-group input-daterange">
                                <input type="text" name="from" class="form-control" value="">
                                <div class="input-group-addon ml-1 mr-1">Desde/Hasta</div>
                                <input type="text" name="to" class="form-control" value="">
                                <button class="btn btn-primary ml-2">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row m-t-30">
                    <div class="col-md-7">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Monto</th>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <th>Accion</th>}
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var deb in Model.Account.Debs)
                                    {
                                        <tr>
                                            <td>@deb.Money</td>
                                            <td>@deb.DateTime.ToString("dd/MM/yyyy")</td>
                                            @{
                                                deb.Description = deb.Description == null ? "Ninguna" : deb.Description;
                                            }
                                            <td>@deb.Description</td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                            <td>
                                                <button class="fas fa-trash-alt text-danger" onclick="remove(@deb.Id,'/Deb/Delete','desea eliminarla')"></button>
                                                <b> | </b>
                                                <button class="far fa-edit text-info" onclick="GetById(@deb.Id)" data-toggle="modal" data-target="#exampleModal4"></button>

                                            </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col mb-4">
                                @{ var page = ViewBag.pagination;}

                                @if (page == "1")
                                {
                                    @Html.Partial("_FilterPartial", Model)
                                }
                                else
                                {
                                    @Html.Partial("_PaginationPartial", Model)
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <!-- DATA TABLE-->
                        <div class="table-responsive m-b-40">
                            <h3 class="mb-2">Pagos</h3>
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>Monto</th>
                                        <th>Fecha</th>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <th>Accion</th>}
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var payment in Model.Account.Payments)
                                    {
                                        <tr>
                                            <td>@payment.Quantity</td>
                                            <td>@payment.CreatedAt.ToString("dd/MM/yyyy")</td>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <td>
                                                    <button class="fas fa-trash-alt text-danger" onclick="remove(@payment.Id,'/Payment/Delete','desea eliminarla')"></button>
                                                    <b> | </b>
                                                    <button class="far fa-edit text-info" onclick="GetByIdPayment(@payment.Id)" data-toggle="modal" data-target="#exampleModal4"></button>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12"></div>
        </div>
    </div>
</div>
<!--Modal Add-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Credito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-">
                        <form action="/Deb/Add" id="Debs" class="form-group" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="AccountId" value="@Model.Account.Id" />
                            <div>
                                <label for="Money">Cantidad</label>

                                <input type="text" id="Mount" lang="es" class="form-control" name="Money" required placeholder="Ejemplo (99,99) " value="" />
                            </div>
                            <div>
                                <label for="Description">Descripcion</label>
                                <textArea name="Description" class="form-control"></textArea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Pay -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Abono</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Payment/Add" id="pay" class="form-group" method="post">
                    @Html.AntiForgeryToken()
                    <div>
                        <label>Monto</label>
                        <input type="text" class="form-control" name="Quantity" value="" placeholder="Ejemplo 99,99" />
                        <input type="hidden" name="AccountId" value="@Model.Account.Id" />
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Abonar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal clear all -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Saldar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>¿Seguro que desea saldar la cuenta?</div>
                <div class="mt-2">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    @Html.ActionLink("Saldar", "PayOff", new { id = Model.Account.Id }, new { @class = "btn btn-success" })
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Update-->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Credito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-">
                        <form action="/Deb/Update" id="Debs" class="form-group" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="AccountId" value="@Model.Account.Id" />
                            <input type="hidden" name="id" id="idDeb" />
                            <div>
                                <label for="Money">Cantidad</label>
                                <input type="text" id="Money" lang="es" class="form-control" name="Money" required placeholder="Ejemplo (99,99)" />
                            </div>
                            <div>
                                <label for="Description">Descripcion</label>
                                <textArea name="Description" id="Description" class="form-control"></textArea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" id="send">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Html.Partial("_JsFunctionPartial")
    @if (ViewBag.response != null)
    {
        <script>
            swal('@ViewBag.response', {
                icon: "@ViewBag.icon"
            })
        </script>
    }
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script>
        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy"
        })

        function GetById(id) {
            fetch(`/Deb/GetById/${id}`)
                .then(r => {
                    r.json().then(response => {
                        document.getElementById("Money").value = response.Deb.Money;
                        response.Deb.Descripcion = response.Deb.Descripcion == undefined ? 'Ninguna' : response.Deb.Descripcion;
                        document.getElementById("Description").innerHTML = response.Deb.Descripcion;
                        document.getElementById("idDeb").value = response.Deb.Id;
                    }).catch(e => {
                        console.log("error");
                        window.location.reload()
                    })
                })
                .catch(e => {
                    console.log("error");
                });
        }

        function GetByIdPayment(id) {

        }

    </script>
}


