@model Model.Client
@{
    ViewBag.Title = "UserProfile";
}
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1 mb-5">Bienvenido @User.Identity.Name</h2>
                           
                            <button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#mediumModal">
                                <i class="zmdi zmdi-plus"></i>Actualizar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        @if (!Model.ProfileUpdated && !User.IsInRole("Admin"))
                        {
                            <div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
                                <span class="badge badge-pill badge-warning">Importante</span>
                                Porfavor actualize su perfil para poder hacer solicitudes de cuentas, gracias
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Perfil</strong>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" src="~/Content/images/icon/avatar-01.jpg" alt="Card image cap">
                                <h5 class="text-sm-center mt-2 mb-1">@Model.Name @Model.LastName</h5>
                                <div class="location text-sm-center">
                                    <i class="fas fa-at"></i> @Model.ApplicationUser.Email
                                </div>
                            </div>
                            <hr>
                            <div class="card-text text-sm-center">
                                <a href="#">
                                    Numero telefonico <br> @Model.PhoneNumber
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Actualizar Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Perfil</h3>
                        </div>
                        <hr>
                        <form action="/client/update" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="hidden" name="ApplicationUserId" value="@Model.ApplicationUserId" />
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Nombre</label>
                                <input name="Name" type="text" class="form-control" required value="@Model.Name">
                            </div>
                            <div class="form-group has-success">
                                <label for="cc-name" class="control-label mb-1">Apellido</label>
                                <input name="LastName" type="text" class="form-control " required
                                       value="@Model.LastName">
                            </div>
                            <div class="form-group">
                                <label for="cc-number" class="control-label mb-1">Numero</label>
                                <input id="cc-number" name="PhoneNumber" type="tel" class="form-control cc-number identified visa" value="@Model.PhoneNumber" required>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-info btn-block">
                                    Actualizar
                                </button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-block">
                                    Cancelar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
