@using Microsoft.AspNet.Identity;

@model Model.Client
@{
    ViewBag.Title = "UserProfile";
}
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            @if (!Model.ProfileUpdated && Model.ApplicationUserId == User.Identity.GetUserId())
                            {
                                <h2 class="title-1 mb-5">Bienvenido @User.Identity.Name</h2>
                                <button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#mediumModal">
                                    <i class="fas fa-check"></i>Completar
                                </button>
                            }
                            else
                            {
                                if (Model.ApplicationUserId == User.Identity.GetUserId())
                                {
                                    <h2 class="title-1 mb-5">Bienvenido @User.Identity.Name</h2>
                                    <button class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#mediumModal">
                                        <i class="fas fa-undo"></i>Actualizar
                                    </button>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        @if (!Model.ProfileUpdated && !User.IsInRole("Admin"))
                        {
                            <div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
                                <span class="badge badge-pill badge-warning">Importante</span>
                                Porfavor actualize su perfil para poder hacer solicitudes de cuentas, gracias
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Perfil</strong>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="mx-auto d-block avatar-user"
                                     src="~/Content/avatar/@Model.Avatar"
                                     width="100"
                                     alt="@Model.Avatar">
                                <p class="text-center mt-2 text-success ">
                                    @if (Model.ApplicationUserId == User.Identity.GetUserId())
                                    {
                                        <button class="text-center btn btn-sm btn-success"
                                                data-toggle="modal"
                                                data-target="#mediumModal2">
                                            Cambiar imagen
                                        </button>
                                    }
                                </p>
                                <h5 class="text-sm-center mt-2 mb-1">@Model.Name @Model.LastName</h5>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="card mb-5">
                        <div class="card-header">
                            <strong>Informacion</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Correo</label>
                                <input type="text" disabled id="company" value="@Model.ApplicationUser.Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="vat" class=" form-control-label">Numero</label>
                                <input type="text" disabled id="vat" value="@Model.PhoneNumber" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="city" class=" form-control-label">Cedula</label>
                                <input type="text" disabled id="city" value="@Model.Dni" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="street" class=" form-control-label">Dirreccion</label>
                                <textarea class="form-control" disabled>@Model.Address</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Actualizar Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Perfil</h3>
                        </div>
                        <hr>
                        <form action="/client/update" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="hidden" name="ApplicationUserId" required value="@Model.ApplicationUserId" />
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Nombre</label>
                                <input name="Name" type="text" class="form-control" required value="@Model.Name">
                            </div>
                            <div class="form-group has-success">
                                <label for="cc-name" class="control-label mb-1">Apellido</label>
                                <input name="LastName" type="text" class="form-control " required
                                       value="@Model.LastName">
                            </div>
                            <div class="form-group">
                                <label for="cc-number" class="control-label mb-1">Numero</label>
                                <input name="PhoneNumber" id="phone" type="tel" class="form-control cc-number identified visa" value="@Model.PhoneNumber" required>
                                <p class="text-danger" id="alert-phone"></p>
                            </div>
                            <div class="form-group">
                                <label for="city" class=" form-control-label">Cedula</label>
                                <input type="text" id="Dni" name="Dni" required value="@Model.Dni" class="form-control">
                                <p class="text-danger" id="alert-dni"></p>
                            </div>
                            <div class="form-group">
                                <label for="street" class=" form-control-label">Dirreccion</label>
                                <textarea class="form-control" id="address" required name="Address">@Model.Address</textarea>
                                <p class="text-danger" id="alert-address"></p>
                            </div>
                            <div>
                                <button type="submit" id="btn-enviar" class="btn btn-info btn-block">
                                    Actualizar
                                </button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-block">
                                    Cancelar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mediumModal2" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Actualizar Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title-2">Subir imagen</h3>
                        </div>
                        <hr>
                        <form action="/client/uploadAvatar" enctype="multipart/form-data" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@Model.Id" />
                            <input type="file" name="file" required class="form-control mb-3" />
                            <div>
                                <button type="submit" class="btn btn-info btn-block">
                                    Subir
                                </button>
                                <button data-dismiss="modal" class="btn btn-secondary btn-block">
                                    Cancelar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let dni = document.getElementById('Dni').addEventListener('keyup', () => {

            if (document.getElementById('Dni').value.length <= 11 && document.getElementById('Dni').value.length > 10) {
                document.getElementById('alert-dni').innerHTML = "";
                document.getElementById('btn-enviar').disabled = false;
            } else {
                document.getElementById('alert-dni').innerHTML = "Cedula invalida";
                document.getElementById('btn-enviar').disabled = true;
            }
        });
        let address = document.getElementById('address').addEventListener('keyup', () => {

            if (document.getElementById('address').value.length > 95) {
                document.getElementById('btn-enviar').disabled = true;
                document.getElementById('alert-address').innerHTML = "Coloque una direccion menor a 95 caracteres";
            } else {
                document.getElementById('btn-enviar').disabled = false;
                document.getElementById('alert-address').innerHTML = "";
            }
        });
        let phoneNumber = document.getElementById('phone').addEventListener('keyup', () => {

            if (document.getElementById('phone').value.length >= 10 && document.getElementById('phone').value.length < 20) {
                document.getElementById('btn-enviar').disabled = false;
                document.getElementById('alert-phone').innerHTML = "";

            } else {
                document.getElementById('btn-enviar').disabled = true;
                document.getElementById('alert-phone').innerHTML = "Numero Invalido";
            }
        });
    </script>
}