@model  Model.ViewModels.IndexPageViewModel

<div class="page-container">
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="row">
                        <div class="col">
                            <h1>Usuarios</h1>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Celular</th>
                                                <th>Correo</th>
                                                <th>Accion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Clients)
                                            {
                                                if (item.ApplicationUser.Email == User.Identity.Name)
                                                {
                                                    continue;
                                                };
                                            <tr>
                                                <td scope="row">@item.Name @item.LastName</td>
                                                <td>@item.PhoneNumber</td>
                                                <td>@item.ApplicationUser.Email</td>
                                                <td>
                                                    <button class="btn btn-danger fas fa-trash-alt" onclick="remove(@item.Id,'Client/Remove','desea eliminar este cliente')" ></button>
                                                    <b> | </b>
                                                    <a href='@Url.Action("ViewProfile", "Account", new { id = item.Id })' class="btn btn-success">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col mb-4">
                                        @{ var page = ViewBag.pagination;}

                                        @if (page == "1")
                                        {
                                            @Html.Partial("_PaginationSearchPartial", Model)
                                        }
                                        else
                                        {
                                            @Html.Partial("_PaginationPartial", Model)
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_JsFunctionPartial")


